@import url('node_modules/normalize.css/normalize.css'); /* normalize.css for default browser styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins */

/* VARIABLES */
:root{
  --sidebar: #393e41;
  --header: #e94f37;
  --content: #f6f7eb;
}


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 2fr) 1fr;
  height: 100vh;
  width: 100vw;
}

.header{
  background-color: var(--header);
  grid-column: 2 / 6; 
}

.sidebar{
  background-color: var(--sidebar);
  grid-row: 1 / 7;
}

.content{
  background-color: var(--content);
  grid-area: 2 / 2 / 6 / 6;
}

footer{
  background-color: var(--content);
  grid-area: 6 / 2 / 6 / 7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: var(--header);
}
